flask
flask-restful

turso_serverless

langchain
langchain_core
langchain_classic
langchain_community

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

langgraph
langgraph-checkpoint

pydantic
dotenv
PyJWT